body{
    font-family: "Times New Roman";
}
.container {
    /*background: url('../img/psh.jpeg');*/
    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: auto;
}
/*
**
** INICIO LADO IZQUIERDO
**
*/
.container .container-left {
    width: 1370px;
    height: 100%;
    float: left;
}
.container .container-left .header {
    width: 1370px;
    height: 155px;
}
.container .container-left .header .fecha {
    width: 225px;
    height: 60px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
    font-size: 38px;
    position: relative;
    top: 55px;
    left: 30px;
    float: left;
}
.container .container-left .header .logo {
    width: 430px;
    height: 120px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    /*background: red;*/
    font-size: 48px;
    position: relative;
    top: 25px;
    left: 245px;
    float: left;
    background-size: 90% 90%;
    padding: 10px;
}
.container .container-left .header .hora {
    width: 225px;
    height: 60px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
    font-size: 38px;
    position: relative;
    top: 55px;
    left: 465px;
    float: left;
}
.container .container-left .contatiner-slider {
    width: 1350px;
    height: 760px;
    border-radius: 20px;
    left : 20px;

}
.container .container-left .contatiner-slider .slider {
    width: 1330px;
    height: 650px;
    margin: auto;
    border-radius: 35px;
    position: relative;
    top: 33px;
    left :20px;
}

.container .container-left .contatiner-slider .imagenSlider {
    min-height: 650px;
    min-width: 500px;
    top: 25px;
    left: 25px;
    border: 1px solid #FF0000;
}

.img-redondeada {
    border-radius: 20px;
}

.container .container-left .contatiner-slider .slider .textoMensaje {
    min-height: 650px;
}
.container .container-left .contatiner-slider .mensajeHomenaje {
    font-size: 34px;
    padding: 20px;
    position: relative;
    min-width: 650px;
    float: right;
    min-height: 640px;
    text-align: justify;
}
.container .container-left .contatiner-slider .nombreHomenaje {
    font-size: 38px;
    text-align: right;
    position: relative;
    right: 50px;
    float: right;
    min-width: 650px;
}

/*
**
**SLIDER FLEXSLIDER
**
*/



/*
**
**OVERIDE swiper-container
**
*/
.slider-container {
    height: auto;
    margin: 40px;
}
.container .container-left .slider {
    width: 1330px;
    height: 650px;
    margin: auto;
    border-radius: 35px;
    position: relative;
    top: 10px;
}
.container .container-left .slider .publicidad {
    width: 1330px;
    max-width: 1330px;
    height: 730px;
    top:0px;
    margin: auto;
    border-radius: 35px;
    position: absolute;
    z-index: 3;
    background: #FFFFFF;
    opacity: 1;
    margin-left: 11px;
}

.publicidad_grande {
    width: 1820px;    
    height: 980px;
    left: 50px;
    top:50px;
    margin: auto;
    border-radius: 35px;
    position: absolute;
    z-index: 3;
    background: #FFFFFF;
}
.fade {
    transition: all linear 1.5s;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
}
.container .container-left .footer {
    width: 1370px;
    height: 150px;
}
.container .container-left .footer .qr {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    /*font-size: 38px;*/
    position: relative;
    top: 10px;
    left: 20px;
    float: left;
    padding: 10px;
    /*line-height: 120px;*/
}
.container .container-left .footer .url {
    width: 725px;
    height: 120px;
    border-radius: 20px;
   background: rgba(255, 255, 255, 0.4);
    font-size: 35px;
    position: relative;
    top: 10px;
    left: 40px;
    padding-top: 10px;
    float: left;

}
.container .container-left .footer .logo-foo {
    width: 430px;
    height: 120px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    /*background: red;*/
    font-size: 48px;
    position: relative;
    top: 10px;
    left: 63px;
    float: left;
    /*line-height: 120px;*/
    background-size: 90% 90%;
    padding: 10px;
}
/*
**
** FIN LADO IZQUIERDO
**
*/

/*
**
** INICIO LADO DERECHO
**
*/
.container .container-right {
    width: 550px;
    height: 100%;
    float: left;
}
.container .container-right .container-datosFallecido {
    width: 550px;
    height:   255px;
    position: relative;
}
.container .container-right .container-datosFallecido .datosFallecido {
    width: 495px;
    height: 210px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    top: 35px;
    left: 15px;
    float: left;
}
.container .container-right .container-datosFallecido .datosFallecido .datosLeft {
    width: 160px;
    height: 180px;
    float: left;
    margin: auto;
}
.container .container-right .container-datosFallecido .datosFallecido .datosRight {
    width: 320px;
    height: 180px;
    float: left;
    margin-left: 15px;
}
.container .container-right .container-datosFallecido .datosFallecido .datosRight div:first-child {
    font-size: 24px;
    margin: 10px 0 0 20px;
    font-weight: bold;
    display: table-cell;
    width: 309px;
    height: 164px;

}

.container .container-right .container-datosFallecido .datosFallecido .datosRight p {
    font-size: 24px;
    font-weight: bold;
}
.container .container-right .container-datosFallecido .datosFallecido .imagenFallecido {
    width: 165px;
    height: 165px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top:24px;
    left: 15px;
    border: 1px solid #666;
    background: url('../img/loading.gif') no-repeat center center;
    background-size: cover;
}

.container .container-right .container-velatorio {
    width: 550px;
    height: 800px;
    position: relative;
}
.container .container-right .container-velatorio .velatorio {
    width: 495px;
    height: 777px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    top: 15px;
    left: 15px;
    float: left;
}
.container .container-right .container-velatorio .velatorio p {
    font-size: 28px;
    line-height: 30px;
    margin: 10px 0 10px 0;

}
.container .container-right .container-velatorio .velatorio .titulo {
    font-weight: bold; 
    font-size: 38px;
    /*line-height: 45px;*/
    margin: 20px 0 10px 0;
}
.container .container-right .container-velatorio .velatorio .titulo:first-child{
    font-size: 42px;
}
.container .container-right .container-velatorio .velatorio .mapaCementerio {
    width: 440px;
    height: 260px;
    border-radius: 35px;
    border: 1px solid #666;
    position: absolute;
    bottom: 20px;
    left: 25px;
    float: left;
    background: url("../img/loading.gif") no-repeat center center;
    background-size: cover;
}

/*
**
** FIN LADO DERECHO
**
*/
.swiper-slide {
    text-align: center;
    font-size: 18px;
   /* background: #e2e2e2;*/
   background: rgba(255,255, 255,0.4);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 40px;
    left: 20px;
}