<!DOCTYPE html>
<html lang="en" ng-app="CA" ng-controller="configCtrlCH">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>CA</title>
    <!-- Librerias -->
   <link rel="stylesheet" href="css/font-awesome/scss/_aling.scss">
    <link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="js/lib/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <!-- Fin de librerias -->

    <!-- css general -->
    <link rel="stylesheet" href="bower_components/angular-ui-swiper/dist/angular-ui-swiper.css" />
    <link rel="stylesheet" href="css/style.css?v=12">
</head>
<body  style="background-image: url('img/fondo.jpg')" ng-cloak>

<div class="container" ng-show="hide_servicio">
    <div class="container-left">
        <div class="header">
            <b><div class="fecha text-center" style="background: {{color_fondo}};" ng-bind="fecha | date:'dd/MM'"></div></b>
            <div class="logo text-center "  style="background-repeat:no-repeat; background-position:center center;background: {{color_fondo}};">
                <img src="{{logo_encabezado}}" width="100%" height="100%" style="border-radius: 20px;" alt="">
            </div>
            <b><div class="hora text-center" style="background: {{color_fondo}};" ng-bind="hora | date:'HH:mm:ss'"></div></b>
        </div>
        <div class="contatiner-slider text-center">
            <div class="slider">
                
                <section class="swipe">
                   <!--  <swiper swiper="swiper" on-init="onInit" effect="fade">
                        <slides> -->
                            <div  style="background: {{color_fondo}}; height: 730px;  border-radius: 40px;">
                                <div class="col-lg-12">
                                    <div class="col-lg-6 foto">
                                        <img ng-style="{'background-image':'url('+homenaje.foto+')', 'background-repeat':'no-repeat', 'background-position':'center center', 'background-size':'cover','margin-top':'25px'}" alt="" width="100%" height="670" class="img-redondeada">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mensajeHomenaje">
                                            <p ng-bind="homenaje.mensaje | limitTo: 405"></p>
                                        </div>
                                        <div class="nombreHomenaje">
                                            <div class="col-lg-12 text-right" ng-bind="homenaje.nombre"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- </slides>
                    </swiper> -->
                </section>
                
                <!--ng-controller="publicidadesCtrl"-->
                <div class="publicidad fade" style="margin-left: -2px;" ng-style="{'background-image':'url('+publicidad+')', 'background-repeat':'no-repeat', 'background-position':'center center', 'background-size':'cover'}" ng-show="showPublis"></div>
                

            </div>
        </div>
        <div class="footer">
            <a ng-href="http://{{url_web_homenaje}}" style="background: {{color_fondo}}; " target="_blank" class="qr text-center" ng-style="{'background-repeat':'no-repeat', 'background-position':'center center', 'background-size':'cover'}">
                <img src="{{qrcode}}" width="100%" height="100%"  alt="" style="border-radius: 20px;">
            </a>
            <div class="url" style="background: {{color_fondo}}; ">&nbsp;&nbsp;Comparta su homenaje en:<br>&nbsp;&nbsp;<strong ng-bind="url_web_homenaje | uppercase "></strong></div>
            <div class="logo-foo text-center" style="background: {{color_fondo}};background-repeat:no-repeat; background-position: center center;">
                <img src="{{url_logo_pie}}" width="100%" height="100%" style="border-radius: 20px;" alt="">
            </div>
        </div>
    </div>
    <div class="container-right">
        <div class="container-datosFallecido" >
            <div class="datosFallecido" style="background: {{color_fondo}}; ">
                <div class="datosLeft">
                    <div class="imagenFallecido" ng-style="{'background-image':'url('+urlServ+servicios.foto+')', 'background-repeat':'no-repeat', 'background-position':'center center', 'background-size':'cover'}"></div>
                </div>
                <div class="datosRight">
                    <div style="padding-top: 50px;" class="text-center align-middle" >{{servicios.nombres}} {{servicios.apellidos}}<br>{{servicios.religion.qepd}}</div>
                    
                    <p class="text-center">
                        <span ng-if="servicios.fecha_nac!='0000-00-00'">{{servicios.fecha_nac | date:'dd/MM/yyyy'}} -</span>  
                        <span ng-bind="servicios.fecha_fac | date:'dd/MM/yyyy'"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-velatorio">
            <div class="velatorio" style="background: {{color_fondo}}; ">
                <p class="text-center titulo">Velatorios</p>
                <div ng-repeat="velatorio in servicios.velatorios track by $index">
                    <p class="text-center" ng-bind="velatorio.texto"></p>
                    <!-- <p class="text-center" ng-bind="velatorio.fecha | date: 'dd-MM'"></p> -->
                </div>

                <p class="text-center titulo">Salida</p>
               <p class="text-center" ng-bind="servicios.fechaSalida"></p>
                <p class="text-center titulo">Cementerio</p>
                <p class="text-center" ng-bind="servicios.destino.nombre"></p>
                <p class="text-center" ng-bind="servicios.fechaCementerio"></p>
                <span ng-if="servicios.responso_id != 0">
                  <p class="text-center titulo" ng-if="servicios.misa.tipo == 0">Misa</p>
                  <p class="text-center titulo" ng-if="servicios.misa.tipo != 0">Responso</p>
                  <p class="text-center" ng-bind="servicios.misa.nombre"></p>
                  <p class="text-center" ng-bind="servicios.responso_fecha"></p>
                </span>
                  
                <span ng-if="servicios.cortejo_act == 1" >
                    
                        <iframe ng-src="{{trayectoria}}" width="440" height="250" id="iframe" frameborder="0" style="border: 1px solid #666; position: absolute; bottom: 20px; left: 25px; float: left;" allowfullscreen ></iframe>
                                       
                </span>
                <span ng-if="servicios.cortejo_act == 0">
                   <!--  <img src="{{urlConf}}images/destinos/{{servicio.destino.mapa}}" width="565" height="450" frameborder="0" style="border:0; border-radius: 20px;" > -->
                    <div ng-if="servicios.destino_id>0 && servicios.destino.mapa!=''" class="mapaCementerio" ng-style="{'background-image':'url('+servicios.destino.mapa+')', 'background-repeat':'no-repeat', 'background-position':'center center', 'background-size':'cover'}"></div>
                </span>
                
            </div>
        </div>
    </div>
</div>
<div  class="container" ng-show="hide_publicidad">
    <div class="publicidad_grande fade" ng-style="{'background-image':'url('+publicidad+')', 'background-repeat':'no-repeat', 'background-position':'center center', 'background-size':'cover'}" >
                    
    </div>
</div>
<div style="position: fixed; bottom: 0; right: 0; z-index: 10; color: lightgrey; font-size: 2em;">
    <span>{{ip}}</span>
</div>
<div class="ng-show" ng-click="vista_previa()" ng-show="license_alert"
        style="
            color: white;
            background-color: black;
            width: 1920px;
            height: 1080px;
            filter: opacity(85%);
            position: absolute;
            top: 0;
            left: 0;
            padding: 50px;
            z-index: 5;
        " >
    
</div>
<!-- Librerias -->
<script src="js/lib/jquery/jquery-3.2.1.min.js"></script>
<script src="bower_components/angular-ui-swiper/js/angular.js"></script>
<script src="bower_components/angular-ui-swiper/dist/angular-ui-swiper.js"></script>
<script src="bower_components/angular-ui-swiper/js/angular-animate.js"></script>
<script src="js/lib/chroma.js-master/chroma.js"></script>
<!-- end Librerias -->
<script type="text/javascript" src="js/app.js?v=12"></script>
</body>
</html>
</body>
</html>