<section class="blue">
    <div class="container">

        <div class="content">
            <h2 class="content-title">Single Item</h2>

            <script type="text/ng-template" id="tpl.html">
                <h3>{{ i.label }}</h3>
            </script>

            <script type="text/ng-template" id="tpl2.html">
                <h3>{{ i }}</h3>
            </script>

            <slick class="slider" settings="slickConfig" ng-if="slickConfig1Loaded" dots="true">
                <div ng-repeat="i in number1 track by $index">
                    <div class="" ng-include="'tpl2.html'"></div>
                </div>
            </slick>

            <div>
                <button class="btn btn-info" ng-click="slickConfig.method.slickFilter(':even')">Filter</button>
                <button class="btn btn-info" ng-click="slickConfig.method.slickUnfilter()">unFilter</button>
                <button class="btn btn-info" ng-click="slickConfig.method.slickGoTo(2)">GoTo(2)</button>
                <button class="btn btn-info" ng-click="slickConfig.method.slickPrev()">Prev()</button>
                <button class="btn btn-info" ng-click="slickConfig.method.slickNext()">Next()</button>
                <button class="btn btn-info" ng-click="updateNumber1()">Update/Add()</button>
                <button class="btn btn-info" ng-click='slickConfig.method.slickRemove(3)'>Remove(3)</button>
                <button class="btn btn-info" ng-click='slickConfig.method.slickPlay()'>Play()</button>
                <button class="btn btn-info" ng-click='slickConfig.method.slickPause()'>Pause()</button>
            </div>

            

        </div>
    </div>
</section>

